html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: #e5e5e5;
}
@media (min-width: 481px) and (max-width: 991px) {
  #header {
    display: flex;
    height: 550px;
  }
  .navigator {
    display: flex;
    justify-content: space-between;
  }
  .navigator .menu {
    color: #ffff00;
    user-select: none;
  }
  .photo.intr {
    position: relative;
    top: -180px;
    left: calc(700px * (2 / 3) - 125px);
  }
  .photo.intr img {
    width: 230px;
  }
  .name:not(.intr) {
    color: #2ecef2;
  }
  #header,
  #container,
  #footer {
    margin: 0 auto;
    width: 700px;
  }
  #container {
    display: flex;
    background-color: #ffffff;
  }
  .fixedArea {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
  }
  .fixedAreaDiscription {
    text-align: center;
    font-family: "Comfortaa", cursive;
    padding: 5px;
    margin-bottom: 25px;
  }
  .time {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
  }
  .t {
    text-align: center;
    width: 25%;
    text-align: center;
    font-size: 23px;
  }

  .technologies {
    display: flex;
    flex-direction: column;
  }
  .technologies img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .introduce {
    position: relative;
    display: flex;
  }
  .intr.name,
  .intr.position {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  .intr.discription {
    text-align: justify;
    width: 200px;
    margin-top: 30px;
  }
  .intr.scroll {
    color: #808080;
    position: relative;
    top: 40px;
  }
  .intr.scroll span {
    position: absolute;
    left: 100px;
  }
  #icon-intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
  }
  #icon-intr img {
    width: 20px;
    height: 20px;
    margin-bottom: 40px;
  }
  .text.intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 50px;
  }
  .rightField {
    flex: 1;
    background-color: #2ecef2;
  }
  .leftField {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
  }
  .part {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .backSlider,
  .forwardSlider {
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .backSlider:hover,
  .forwardSlider:hover {
    opacity: 80%;
  }
  .backSlider:active,
  .forwardSlider:active {
    box-shadow: 0px 0px 15px black;
  }
  .slider img {
    width: 250px;
    position: relative;
    border: 1px solid grey;
    box-shadow: 5px 5px 30px grey;
    border-radius: 10%;
  }
  .backSlider {
    margin-right: 15px;
  }
  .forwardSlider {
    margin-left: 15px;
  }
  .description {
    margin-top: 30px;
  }
  .description p {
    text-align: center;
  }

  .text {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .text.h2 {
    font-family: "Caveat", cursive;
    font-size: 22px;
    display: inline;
  }

  .text span:not(.material-symbols-outlined) {
    text-decoration: line-through;
  }
  span:not(#span) {
    transform: rotateY(190deg);
  }

  #footer {
    background-color: #ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }
  .links {
    display: flex;
    justify-content: space-around;
  }

  .links:first-child a {
    position: relative;
    left: 90px;
    margin-right: 35px;
  }
  .icon:hover {
    transform: scale(1.1);
  }
  .icon {
    transition: transform 0.5s;
    width: 40px;
    height: 40px;
  }
  .icon.p {
    position: relative;
    width: 38px;
    margin-right: -20px;
    top: -55px;
    left: 15px;
  }
  .icon.u {
    position: relative;
    transform: scale(1.5);
    transition: transform 0.5s;
    left: 140px;
    top: 5px;
  }
  .icon.u:hover {
    transform: scale(1.7);
  }
  .table {
    position: fixed;
    padding: 0px 3px;
    background-color: #ffffff;
    z-index: 100;
    border: 1px solid #808080;
    box-shadow: 2px 2px 3px #000000;
    font-family: "Caveat", cursive;
  }
  img.finish {
    width: 400px;
  }
}

@media (min-width: 992px) {
  #header {
    display: flex;
    height: 800px;
  }
  #header,
  #container,
  #footer {
    width: 992px;
    margin: 0 auto;
  }
  .navigator {
    display: flex;
    justify-content: space-between;
  }
  .navigator .menu {
    color: #ffff00;
    user-select: none;
  }
  .photo.intr {
    position: relative;
    top: -250px;
    left: 504px;
  }
  .photo.intr img {
    width: 300px;
  }
  .name:not(.intr) {
    color: #2ecef2;
  }
  #container {
    display: flex;
    background-color: #ffffff;
  }
  .fixedArea {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
  }
  .fixedAreaDiscription {
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Comfortaa", cursive;
  }
  .time {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
  }
  .t {
    text-align: center;
    width: 25%;
    font-size: 34px;
  }

  .technologies {
    display: flex;
    flex-direction: column;
  }
  .technologies img {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .introduce {
    position: relative;
    display: flex;
  }
  .intr.name,
  .intr.position {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
  }
  .intr.discription {
    text-align: justify;
    width: 250px;
    margin-top: 30px;
  }
  .intr.scroll {
    color: #808080;
    position: relative;
    top: 50px;
  }
  .intr.scroll span {
    position: absolute;
    left: 110px;
  }
  #icon-intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
  }
  #icon-intr img {
    width: 20px;
    height: 20px;
    margin-bottom: 40px;
  }
  .text.intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 60px;
    width: 330px;
  }
  .rightField {
    flex: 1;
    background-color: #2ecef2;
  }
  .leftField {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
  }
  .part {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .backSlider,
  .forwardSlider {
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .backSlider:hover,
  .forwardSlider:hover {
    opacity: 80%;
  }
  .backSlider:active,
  .forwardSlider:active {
    box-shadow: 0px 0px 15px black;
  }
  .slider img {
    width: 300px;
    position: relative;
    border: 1px solid grey;
    box-shadow: 5px 5px 30px grey;
    border-radius: 10%;
  }
  .backSlider {
    margin-right: 20px;
  }
  .forwardSlider {
    margin-left: 20px;
  }

  .description {
    margin-top: 30px;
  }
  .description p {
    text-align: center;
  }

  .text {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .text.h2 {
    font-family: "Caveat", cursive;
    font-size: 22px;
    display: inline;
  }

  .text span:not(.material-symbols-outlined) {
    text-decoration: line-through;
  }
  span:not(#span) {
    transform: rotateY(190deg);
  }

  #footer {
    background-color: #ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  .links:first-child a {
    position: relative;
    left: 90px;
    margin-right: 35px;
  }

  .icon:hover {
    transform: scale(1.1);
  }
  .icon {
    transition: transform 0.5s;
    width: 50px;
    height: 50px;
  }
  .icon.p {
    position: relative;
    margin-right: -25px;
    top: -75px;
    left: 35px;
  }
  .icon.u {
    position: relative;
    transform: scale(1.5);
    transition: transform 0.5s;
    left: 200px;
    top: 5px;
  }
  .icon.u:hover {
    transform: scale(1.7);
  }
  .table {
    position: fixed;
    padding: 0px 3px;
    background-color: #ffffff;
    z-index: 100;
    border: 1px solid #808080;
    box-shadow: 2px 2px 3px #000000;
    font-family: "Caveat", cursive;
  }
  img.finish {
    width: 500px;
  }
}

@media (min-width: 992px) {
  #header {
    display: flex;
    height: 800px;
  }
  #header,
  #container,
  #footer {
    width: 992px;
    margin: 0 auto;
  }
  .navigator {
    display: flex;
    justify-content: space-between;
  }
  .navigator .menu {
    color: #ffff00;
    user-select: none;
  }
  .photo.intr {
    position: relative;
    top: -250px;
    left: 504px;
  }
  .photo.intr img {
    width: 300px;
  }
  .name:not(.intr) {
    color: #2ecef2;
  }
  #container {
    display: flex;
    background-color: #ffffff;
  }
  .fixedArea {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
  }
  .fixedAreaDiscription {
    padding: 5px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Comfortaa", cursive;
  }
  .time {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
  }
  .t {
    text-align: center;
    width: 25%;
    font-size: 34px;
  }

  .technologies {
    display: flex;
    flex-direction: column;
  }
  .technologies img {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
  .introduce {
    position: relative;
    display: flex;
  }
  .intr.name,
  .intr.position {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
  }
  .intr.discription {
    text-align: justify;
    width: 250px;
    margin-top: 30px;
  }
  .intr.scroll {
    color: #808080;
    position: relative;
    top: 50px;
  }
  .intr.scroll span {
    position: absolute;
    left: 110px;
  }
  #icon-intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
  }
  #icon-intr img {
    width: 20px;
    height: 20px;
    margin-bottom: 40px;
  }
  .text.intr {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 60px;
    width: 330px;
  }
  .rightField {
    flex: 1;
    background-color: #2ecef2;
  }
  .leftField {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
  }
  .part {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .backSlider,
  .forwardSlider {
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .backSlider:hover,
  .forwardSlider:hover {
    opacity: 80%;
  }
  .backSlider:active,
  .forwardSlider:active {
    box-shadow: 0px 0px 15px black;
  }
  .slider img {
    width: 300px;
    position: relative;
    border: 1px solid grey;
    box-shadow: 5px 5px 30px grey;
    border-radius: 10%;
  }
  .backSlider {
    margin-right: 20px;
  }
  .forwardSlider {
    margin-left: 20px;
  }

  .description {
    margin-top: 30px;
  }
  .description p {
    text-align: center;
  }

  .text {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .text.h2 {
    font-family: "Caveat", cursive;
    font-size: 22px;
    display: inline;
  }

  .text span:not(.material-symbols-outlined) {
    text-decoration: line-through;
  }
  span:not(#span) {
    transform: rotateY(190deg);
  }

  #footer {
    background-color: #ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }

  .links {
    display: flex;
    justify-content: space-around;
  }

  .links:first-child a {
    position: relative;
    left: 90px;
    margin-right: 35px;
  }

  .icon:hover {
    transform: scale(1.1);
  }
  .icon {
    transition: transform 0.5s;
    width: 50px;
    height: 50px;
  }
  .icon.p {
    position: relative;
    margin-right: -25px;
    top: -75px;
    left: 35px;
  }
  .icon.u {
    position: relative;
    transform: scale(1.5);
    transition: transform 0.5s;
    left: 200px;
    top: 5px;
  }
  .icon.u:hover {
    transform: scale(1.7);
  }
  .table {
    position: fixed;
    padding: 0px 3px;
    background-color: #ffffff;
    z-index: 100;
    border: 1px solid #808080;
    box-shadow: 2px 2px 3px #000000;
    font-family: "Caveat", cursive;
  }
  img.finish {
    width: 500px;
  }
}

@media (max-width: 480px) {
  #header,
  #container,
  #footer {
    margin: 0 auto;
    width: 400px;
  }
  #header .leftField {
    display: flex;
    flex-direction: column-reverse;
  }
  .navigator {
    display: none;
  }
  .introduce {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .text.intr {
    display: flex;
    flex-direction: column;
  }
  .intr.name,
  .intr.position {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .intr.discription {
    text-align: justify;
    width: 200px;
    margin-top: 10px;
  }
  .intr.scroll {
    color: #808080;
    position: relative;
    top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .intr.scroll span {
    position: relative;
    left: 10px;
    top: 7px;
  }
  #icon-intr {
    display: none;
  }
  .photo.intr img {
    width: 150px;
    border-radius: 10%;
  }
  .photo.intr {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .name:not(.intr) {
    color: #2ecef2;
  }
  #container {
    display: flex;
    background-color: #ffffff;
  }
  #container .rightField {
    display: none;
  }
  /* .fixedArea {
      width: 90%;
      margin: 0 auto;
      position: sticky;
      top: 0px;
    }
    .fixedAreaDiscription {
      text-align: center;
      font-family: "Comfortaa", cursive;
      padding: 5px;
      margin-bottom: 25px;
    } */
  .time {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
  }
  .t {
    text-align: center;
    width: 25%;
    text-align: center;
    font-size: 23px;
  }

  .technologies {
    display: flex;
    flex-direction: column;
  }
  .technologies img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  .leftField {
    padding: 20px;
    background-color: #ffffff;
  }
  .part {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .backSlider,
  .forwardSlider {
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  .backSlider:active,
  .forwardSlider:active {
    box-shadow: 0px 0px 15px black;
  }
  .slider img {
    width: 250px;
    position: relative;
    border: 1px solid grey;
    box-shadow: 5px 5px 30px grey;
    border-radius: 10%;
  }
  .backSlider {
    margin-right: 15px;
  }
  .forwardSlider {
    margin-left: 15px;
  }
  .description {
    margin-top: 30px;
  }
  .description p {
    text-align: center;
  }

  .text {
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  .text.h2 {
    font-family: "Caveat", cursive;
    font-size: 22px;
    display: inline;
  }

  .text span:not(.material-symbols-outlined) {
    text-decoration: line-through;
  }
  span:not(#span) {
    transform: rotateY(190deg);
  }

  #footer {
    background-color: #ffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
  }
  .links {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid */
  }

  .links:first-child a {
    position: relative;
    left: -5px;
    top: 17px;
    margin-right: 35px;
  }
  .icon {
    position: relative;
    width: 30px;
    height: 30px;
    /* border: 1px solid */
  }
  .icon.p {
    position: relative;
    width: 45px;
    margin-right: -80px;
    top: -50px;
    left: -50px;
    /* border: 1px solid green */
  }
  .icon.u {
    position: relative;
    display: block;
    top: 17px;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red */
  }
  .table {
    position: fixed;
    padding: 0px 3px;
    background-color: #ffffff;
    z-index: 100;
    border: 1px solid #808080;
    box-shadow: 2px 2px 3px #000000;
    font-family: "Caveat", cursive;
  }
  img.finish {
    width: 300px;
  }
}
